@{
	Layout = null;
}
<!doctype html>
<html  lang="en"> 
<head>
	<meta charset="utf-8">

	<title>ServiceWare</title>
	<meta name="description" content="ServiceWare home page">

	<meta name="viewport" content="width=device-width">

	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="favicon.ico">

	<link rel="stylesheet" href="Content/bootstrap.min.css">
	<link rel="stylesheet" href="Content/bootstrap-responsive.min.css">
	

</head>
<body>

@RenderBody()

	 <!-- Footer
	  ================================================== -->
	  <footer class="footer">
		<span title="@ServiceWare.WebSite.MvcApplication.Version.ToString()">Copyright © ServiceWare Ltd 2010-@DateTime.Today.Year</span>
		<p class="pull-right"><a href="#">Back to top</a></p>
	  </footer>

	</div><!-- /container -->
	   <!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="Scripts/bootstrap.min.js"></script>
</body>
</html>